@charset "utf-8";
body{
	background: #000;
	margin: 0px;
	}
.flex-conteiner{
	
	display: flex;
	flex-direction: column;
}

.flex-content{
	text-align: center;
	padding-top: 180px;
}
.flex-content h1{
	font-family: 'Montserrat', sans-serif ;
	font-weight: 400;
	font-size: 55px;
	color: #fff;
	margin-bottom: 40px;
	margin-top: 100px;
}
.flex-content h3{
	padding-bottom: 48px;
	text-align: center;
	font-family: 'Montserrat', sans-serif ;
	font-weight: 400;
	font-size: 20px;
	color: #fff;	
	margin: 0;
}


button {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 10px;
	padding: 10px 50px;
	background-color: #a400ff;
	border: none;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif ;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

button:hover{
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 10px;
	padding: 10px 50px;
	background-color: #fff;
	border: none;
	border-radius: 100px;
	color: #000;
	text-decoration: none;
}


